[Unit]
Description=Run Text to Speech deploy on schedule

[Timer]
OnCalendar={{ tts_deploy_on_calendar }}
Persistent=true
RandomizedDelaySec=120
Unit=tts-deploy.service

[Install]
WantedBy=timers.target
