IMAGE_REPO={{ tts_image_repo }}
CURRENT_TAG={{ tts_current_tag }}
PREVIOUS_TAG={{ tts_previous_tag }}
DEPLOY_TAG_PREFIX={{ tts_deploy_tag_prefix }}
COMPOSE_FILE={{ tts_compose_file }}
APP_PORT_BIND={{ tts_app_port_bind }}
HEALTH_URL={{ tts_health_url }}
HEALTH_TIMEOUT_SECONDS={{ tts_health_timeout_seconds }}
AUTO_PULL={{ tts_auto_pull | lower }}
GIT_REMOTE={{ tts_git_remote }}
DEPLOY_REF={{ tts_deploy_ref }}
