[Unit]
Description=Deploy Text to Speech app locally
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ tts_app_root }}
EnvironmentFile=/etc/default/tts-deploy
ExecStart=/usr/bin/bash {{ tts_app_root }}/scripts/deploy_local.sh
User={{ tts_service_user }}
Group={{ tts_service_group }}
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
